.main{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    /* vertical-align: middle; */
    color: black;
}

.detail{
    text-align: left;
    position: relative;
    top:15px;
    left: 20px;
    height: 20%;
    font-size: 20px;

}

#levelTag{
    position: absolute;
    font-size: 10px;
    left: 5px;
    top:-5px;
}

#level{
    position: relative;
    font-size: 65px;
    font-weight: 900;
}


#userName{
    position: absolute;
    left: 55px;
    top:10px;
}

#petName{
    position: absolute;
    left: 55px;
    top:37px;
    font-size: x-large;
}

#point{
    position: absolute;
    font-size: 15px;
    left: 7px;
}

#egg{
    /* background-color: aqua; */
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    transition: .4s;
}

#egg:active{
    padding-bottom: 0.7em;
    padding-top: 0.3em;
}