/* :root {
    --main-color: #7117ea;
    --sub-color: #ea6060;
    --bg-gradation: linear-gradient(135deg, var(--main-color) 0%, var(--sub-color) 100%) fixed;
} */

  /* p220 */

html{
    margin:0;
    padding:0;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    background-color: white;
    color: #000000;
}

body{
    margin:0;
    padding:0;
}

footer{
    background-color: #000000;
    height: 20px;
    position: absolute;
    bottom: 0;
}

.top{
    position: absolute;
    width: 100%;
    color: black;
    text-align: center;
    letter-spacing: 4px;
    vertical-align: middle;
}

#title{
    position: absolute;
    width: 100%;
    top:13vh;
    color: black;
    text-align: center;
    letter-spacing: 4px;
    vertical-align: middle;
}

#title .smaller{
    position: relative;
    top:50px;
    font-size: smaller;
}

#title h1{
    position: relative;
    top:30px;
    font-size: 80px;
    margin: 40px 0;
}

.button{
    position: relative;
    top:30px;
}

.button p{
    position: relative;
    margin: 0 10px 0 10px;
    font-size: 16px;
}

.button .form{
    text-align: left;
    position: relative;
    margin: 30px 0;
    padding-left: 16vw;
    font-size: 12px;
}

.form input{
    position: absolute;
    left: 25vw;
    width: 150px;
    top:-3px;
    padding: 3px 7px; 
    border-radius: 3px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}
.form div{
    position: relative;
    letter-spacing: 2px;
    margin-top: 10px;
}

.button .goto{
    position: relative;
}

.button .larger{
    font-size: larger;
    font-weight: bolder;
}

.button p{
    margin: 10px;
}

.btn-partial-line {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #000000;
    border-left: solid 3px #000000;
    color: #000000;
    transition: .4s;
}  

.btn-partial-line:active{
    padding-left: 0.7em;
    padding-right: 0.3em;
}

#logout{
    display: none;
}

.logout button{
    position: absolute;
    top:26px;
    right: 5px;
    border: 2px solid #ddd;
}

#userinfo{
    font-size: 9px;
    letter-spacing: normal;
    position: absolute;
    top:5px;
    right: 10px;
    margin: 0;
}

#popup {
    display: none;
    position: fixed; 
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    top:30%;
    left:10%;
    height: 40%;
    width: 80%;
    text-align: center;
    z-index: 99999;
}

#popup div{
    margin:5% 0;
}

#popup p{
    margin:5% 0;
}
#popup h2{
    margin:10% 0;
}

#popup input{
    padding: 3px 7px; 
    border-radius: 3px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

#layer {
    display: none;
    position: fixed; 
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.349);
}

#log{
    font-size: 7px;
    position: fixed;
    bottom: 4px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}